/*Declaro colores y fuentes como variables*/
:root {
  --color-scissors: hsl(39, 89%, 49%);
  --color-scissors-gradient: hsl(40, 84%, 53%);
  --color-scissors-shadow: hsl(39, 60%, 40%);
  --color-paper: hsl(230, 89%, 62%);
  --color-paper-gradient: hsl(230, 89%, 65%);
  --color-paper-shadow: hsl(230, 60%, 40%);
  --color-rock: hsl(349, 71%, 52%);
  --color-rock-gradient: hsl(349, 70%, 56%);
  --color-rock-shadow: hsl(349, 60%, 40%);
  --color-text-dark: hsl(229, 25%, 31%);
  --color-text-score: hsl(229, 64%, 46%);
  --color-outline: hsl(217, 16%, 45%);
  --color-bg: hsl(214, 47%, 23%);
  --color-bg-gradient: hsl(237, 49%, 15%);
  --ff-text: "Barlow Semi Condensed", sans-serif;
  --fw-semibold: 600;
  --fw-bold: 700;
}

/*CSS Reset*/
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

body {
  min-width: 500px;
  height: max(100vh, auto);
  min-height: 640px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image: radial-gradient(
    circle at 50% 25%,
    var(--color-bg),
    var(--color-bg-gradient)
  );
  background-repeat: no-repeat;
  font-family: var(--ff-text);
}

/*Parte superior con título y puntaje*/
.title {
  width: max(450px, 60%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: var(--color-outline) 4px solid;
  border-radius: 1em;
  margin-top: 1em;
  padding: 1em 1.5em;
}

.title__score {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 0.5em;
  padding: 1.25em 3em 1em 3em;
}

.title__score__label {
  color: var(--color-text-score);
  font-weight: var(--fw-semibold);
  font-size: 1rem;
  letter-spacing: 0.25rem;
}

.title__score__total {
  color: var(--color-text-dark);
  font-weight: var(--fw-bold);
  font-size: 3rem;
}

/*Contiene las opciones y la pantalla de resultado*/
.game {
  display: grid;
  grid-template-rows: repeat(2, 204px);
  grid-template-columns: repeat(2, 224px);
  grid-template-areas: "topLeft topRight" "bottom bottom";
  background: url(images/bg-triangle.svg) no-repeat center;
}

.option {
  width: 184px;
  height: 184px;
  justify-self: center;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

/*Posiciono cada uno de los botones*/
.option:nth-child(1) {
  grid-area: bottom;
}

.option:nth-child(2) {
  grid-area: topLeft;
}

.option:nth-child(3) {
  grid-area: topRight;
}

.option__img {
  height: 80px;
}

.option__btn {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: white;
  border: none;
  transition: background-color 0.5s;
  transition-timing-function: ease-out;
}

/*Estilos de cada boton*/
.option__rock {
  box-shadow: 0 8px 0 0px var(--color-rock-shadow), 0 8px 0 0px #0005 inset;
  border: var(--color-rock) 24px solid;
}

.option__paper {
  box-shadow: 0 8px 0 0px var(--color-paper-shadow), 0 8px 0 0px #0005 inset;
  border: 24px var(--color-paper) solid;
}

.option__scissors {
  box-shadow: 0 8px 0 0px var(--color-scissors-shadow), 0 8px 0 0px #0005 inset;
  border: var(--color-scissors) 24px solid;
}

.option__rock:hover {
  background-color: var(--color-rock-gradient);
}

.option__paper:hover {
  background-color: var(--color-paper-gradient);
}

.option__scissors:hover {
  background-color: var(--color-scissors-gradient);
}

/*Boton para ver las reglas del juego*/
.rules {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 0.5em 1em 1em 1em;
}

.rules__button {
  color: white;
  background-color: transparent;
  border: var(--color-outline) 2px solid;
  border-radius: 0.5em;
  font-family: var(--ff-text);
  font-size: 0.75rem;
  font-weight: var(--fw-semibold);
  letter-spacing: 2px;
  padding: 0.75em 2.5em;

  transition: background-color 0.2s;
}

.rules__button:hover {
  background-color: var(--color-outline);
  cursor: pointer;
}

.result {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.result__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  gap: 1em;
}

#resultText {
  color: white;
  font-family: var(--ff-text);
  font-weight: var(--fw-semibold);
  font-size: 3em;
}

#replayBtn {
  width: 100%;
  color: var(--color-text-dark);
  background-color: white;
  border: none;
  border-radius: 0.25em;
  font-family: var(--ff-text);
  font-weight: var(--fw-semibold);
  font-size: 1em;
  padding: 0.5em 1em;
  transition: color 0.2s;
}

#replayBtn:hover {
  cursor: pointer;
  color: var(--color-rock);
}

.result__choice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.result__choice > span {
  color: white;
  font-family: var(--ff-text);
  font-weight: var(--fw-bold);
  font-size: 1.5rem;
  letter-spacing: 2px;
}

.img-wrapper {
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 50%;
}

.result__choice__img {
  height: 100px;
}

.uppercase {
  text-transform: uppercase;
}

button:hover {
  cursor: pointer;
}

.hidden {
  display: none;
}
