/*Declaro colores y fuentes como variables*/
:root {
  --color-scissors: hsl(39, 89%, 49%);
  --color-scissors-gradient: hsl(40, 84%, 53%);
  --color-scissors-shadow: hsl(39, 60%, 40%);
  --color-paper: hsl(230, 89%, 62%);
  --color-paper-gradient: hsl(230, 89%, 65%);
  --color-paper-shadow: hsl(230, 60%, 40%);
  --color-rock: hsl(349, 71%, 52%);
  --color-rock-gradient: hsl(349, 70%, 56%);
  --color-rock-shadow: hsl(349, 60%, 40%);
  --color-lizard: hsl(261, 73%, 60%);
  --color-lizard-gradient: hsl(261, 72%, 63%);
  --color-lizard-shadow: hsl(261, 72%, 40%);
  --color-spock: hsl(189, 59%, 53%);
  --color-spock-gradient: hsl(189, 58%, 57%);
  --color-spock-shadow: hsl(189, 58%, 40%);
  --color-text-dark: hsl(229, 25%, 31%);
  --color-text-score: hsl(229, 64%, 46%);
  --color-outline: hsl(217, 16%, 45%);
  --color-bg: hsl(214, 47%, 23%);
  --color-bg-gradient: hsl(237, 49%, 15%);
  --ff-text: "Barlow Semi Condensed", sans-serif;
  --fw-semibold: 600;
  --fw-bold: 700;
}

/*CSS Reset*/
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

body {
  min-width: 500px;
  height: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image: radial-gradient(
    circle at 50% 25%,
    var(--color-bg),
    var(--color-bg-gradient)
  );
  background-repeat: no-repeat;
  font-family: var(--ff-text);
}

/*Parte superior con título y puntaje*/
.title {
  width: max(450px, 60%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: var(--color-outline) 4px solid;
  border-radius: 1em;
  margin-top: 0.5em;
  padding: 1em 1.5em;
}

.title__score {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 0.5em;
  padding: 1.25em 3em 1em 3em;
}

.title__score__label {
  color: var(--color-text-score);
  font-weight: var(--fw-semibold);
  font-size: 1rem;
  letter-spacing: 0.25rem;
}

.title__score__total {
  color: var(--color-text-dark);
  font-weight: var(--fw-bold);
  font-size: 3rem;
}

/*Contiene las opciones y la pantalla de resultado*/
.game {
  display: grid;
  grid-template-rows: repeat(3, 150px);
  grid-template-columns: repeat(2, 224px);
  grid-template-areas: "top top" "centerLeft centerRight" "bottomLeft bottomRight";
  background: url(images/bg-pentagon.svg) no-repeat center;
  padding: 0.5em;
  transition: opacity 0.5s;
}

.option {
  width: 142px;
  height: 142px;
  justify-self: center;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

/*Posiciono cada uno de los botones*/
.option:nth-child(1) {
  grid-area: bottomRight;
}

.option:nth-child(2) {
  grid-area: centerRight;
}

.option:nth-child(3) {
  grid-area: top;
}

.option:nth-child(4) {
  grid-area: bottomLeft;
}

.option:nth-child(5) {
  grid-area: centerLeft;
}

.option__img {
  height: 58px;
}

.option__btn {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: white;
  border: none;
  transition: background-color 0.5s;
  transition-timing-function: ease-out;
}

/*Estilos de cada boton*/
.rock-style {
  box-shadow: 0 8px 0 0px var(--color-rock-shadow), 0 8px 0 0px #0005 inset;
  border: var(--color-rock) 16px solid;
}

.paper-style {
  box-shadow: 0 8px 0 0px var(--color-paper-shadow), 0 8px 0 0px #0005 inset;
  border: var(--color-paper) 16px solid;
}

.scissors-style {
  box-shadow: 0 8px 0 0px var(--color-scissors-shadow), 0 8px 0 0px #0005 inset;
  border: var(--color-scissors) 16px solid;
}

.lizard-style {
  box-shadow: 0 10px 0 0px var(--color-lizard-shadow), 0 5px 0 0px #0005 inset;
  border: var(--color-lizard) 1em solid;
}

.spock-style {
  box-shadow: 0 10px 0 0px var(--color-spock-shadow), 0 5px 0 0px #0005 inset;
  border: var(--color-spock) 1em solid;
}

.option__rock {
  transform: translate(-15%, 0);
}

.option__paper {
  transform: translate(25%, -25%);
}

.option__lizard {
  transform: translate(15%, 0);
}

.option__spock {
  transform: translate(-25%, -25%);
}

.option__rock:hover {
  background-color: var(--color-rock-gradient);
}

.option__paper:hover {
  background-color: var(--color-paper-gradient);
}

.option__scissors:hover {
  background-color: var(--color-scissors-gradient);
}

.option__lizard:hover {
  background-color: var(--color-lizard-gradient);
}

.option__spock:hover {
  background-color: var(--color-spock-gradient);
}

/*Boton para ver las reglas del juego*/
.rules {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 0 1em 0 1em;
}

.rules__button {
  position: absolute;
  bottom: 1em;
  right: 1em;
  color: white;
  background-color: transparent;
  border: var(--color-outline) 2px solid;
  border-radius: 1em;
  font-family: var(--ff-text);
  font-size: 0.75rem;
  font-weight: var(--fw-semibold);
  letter-spacing: 4px;
  padding: 0.875rem 2.375rem;
  transition: background-color 0.2s;
  margin: 0.5em;
}

.rules__button:hover {
  background-color: var(--color-outline);
  cursor: pointer;
}

.result {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2em;
  transition: opacity 1s;
  visibility: hidden;
  position: absolute;
  opacity: 0;
}

.result__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  gap: 1em;
}

#resultText {
  color: white;
  font-family: var(--ff-text);
  font-weight: var(--fw-semibold);
  font-size: 3em;
}

#replayBtn {
  width: auto;
  color: var(--color-text-dark);
  background-color: white;
  border: none;
  border-radius: 0.5em;
  font-family: var(--ff-text);
  font-weight: var(--fw-semibold);
  font-size: 1em;
  padding: 1rem 3.75rem;
  transition: color 0.2s;
}

#replayBtn:hover {
  cursor: pointer;
  color: var(--color-rock);
}

.result__choice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.result__choice > span {
  color: white;
  font-family: var(--ff-text);
  font-weight: var(--fw-bold);
  font-size: 1.5rem;
  letter-spacing: 2px;
}

.img-wrapper {
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 50%;
}

.img-wrapper:hover {
  background-color: white;
}

.result__choice__img {
  height: 100px;
}

.winner::before {
  content: "";
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 300px 200px var(--color-outline);
  z-index: -10;
}

@media (max-width: 750px) {
  body {
    min-width: 375px;
  }

  .title {
    width: max(320px, 60%);
    padding: 0.5em;
  }

  .title > img {
    width: 80px;
  }

  .title__score {
    padding: 0.75em 1.5em;
  }

  .title__score__label {
    font-size: 0.5rem;
    letter-spacing: 2px;
  }

  .title__score__total {
    font-size: 1.75rem;
  }

  .game {
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(2, 150px);
    background-size: 100%;
  }

  .option {
    width: 94px;
    height: 94px;
  }

  .option:nth-child(1) {
    transform: translate(25%, 25%);
  }

  .option:nth-child(2) {
    transform: translate(25%, 0%);
  }

  .option:nth-child(3) {
    transform: translate(0%, -25%);
  }

  .option:nth-child(4) {
    transform: translate(-25%, 25%);
  }

  .option:nth-child(5) {
    transform: translate(-25%, 0%);
  }

  .option__img {
    height: 40px;
  }

  .rock-style {
    border: var(--color-rock) 1em solid;
  }

  .paper-style {
    border: var(--color-paper) 1em solid;
  }

  .scissors-style {
    border: var(--color-scissors) 1em solid;
  }

  .lizard-style {
    border: var(--color-lizard) 1em solid;
  }

  .spock-style {
    border: var(--color-spock) 1em solid;
  }

  .option__rock:active {
    background-color: var(--color-rock-gradient);
  }

  .option__paper:active {
    background-color: var(--color-paper-gradient);
  }

  .option__scissors:active {
    background-color: var(--color-scissors-gradient);
  }

  .rules {
    justify-content: center;
    padding: 1em 1em 3.5em 1em;
  }

  .rules__button {
    bottom: auto;
    right: auto;
    position: relative;
  }

  .rules__button:active {
    background-color: var(--color-outline);
  }

  .result {
    display: grid;
    grid-template-rows: repeat(2, 180px);
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "topLeft topRight" "bottom bottom";
    gap: 4em;
    transition: visibility 1s;
  }

  .result__info {
    grid-area: bottom;
  }

  #resultText {
    font-size: 2.5rem;
  }

  #replayBtn {
    width: auto;
    font-size: 0.75rem;
    letter-spacing: 2px;
    border-radius: 0.5em;
    padding: 1rem 3.75rem;
  }

  .result__choice {
    flex-direction: column-reverse;
    gap: 2em;
  }

  .result__choice > span {
    font-size: 0.75rem;
  }

  .img-wrapper {
    width: 128px;
    height: 128px;
  }

  .img-wrapper:active {
    background-color: white;
  }

  .result__choice__img {
    height: 44px;
  }

  .winner::before {
    top: 0%;
    left: 25%;
    box-shadow: 0px 0px 100px 75px white;
  }
}

.uppercase {
  text-transform: uppercase;
}

button:hover {
  cursor: pointer;
}

.hidden {
  position: absolute;
  visibility: hidden;
}
